{% extends "base_template.html" %}

{% block title %}Soporte Equipos{% endblock %}

{% block content %}

<br>
<a href="/lezama/">DC Lezama</a><br>
<a href="/pando/">DC Pando</a><br>
<a href="/mercedes/">Mercedes</a><br><br>

<a href="/mails/">Prueba mail</a><br><br>

<div>
  <a href="/post_equipo/">Agregar equipo</a><br>
</div>

{% if dc=='lezama' %}
    <h3>DC Lezama</h3>
{% elif dc=='pando' %}
    <h3>DC Pando</h3>
{% elif dc=='mercedes' %}
    <h3>DC Mercedes</h3>
{% else %}
    <br>
{% endif %}

<div>
  <label>Equipos por pagina </label>
  <select name="equipos-por-pagina" onchange="equipos_pagina(this.value)">
    <option value="5" {% if por_page == 5: %} selected {% endif %}>5</option> 
    <option value="10" {% if por_page == 10: %} selected {% endif %}>10</option>
    <option value="20" {% if por_page == 20: %} selected {% endif %}>20</option>
  </select>
</div>
<br>
  <div class="row">
    <div class="col-md-20">
      <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
          <tr>
            <td>Tipo</td>
            <td>Marca</td>
            <td>Modelo</td>
            <td>S/N</td>
            <td>Tinco</td>
            <td>Plataforma</td>
            <td>Datacenter</td> 
            <td>Sala</td>
            <td>Rack</td>
            <td>Proveedor</td>
            <td>Vencimiento_Soporte</td>
          </tr>
        </thead>
        <tbody>
          {% for equipo in equipos.items %}
          <tr>
            <td>{{ equipo.tipo }}</td>
            <td>{{ equipo.marca }}</td>
            <td>{{ equipo.modelo }}</td>
            <td>{{ equipo.sn }}</td>
            <td>{{ equipo.tinco }}</td>
            <td>{{ equipo.plataforma }}</td>
            <td>{{ equipo.datacenter }}</td>
            <td>{{ equipo.sala }}</td>
            <td>{{ equipo.rack }}</td>
            <td>{{ equipo.proveedor }}</td>
            <td>{{ equipo.soporte }}</td>
            <td>
              <a href="/post_equipo/{{equipo.id}}" class="btn btn-secondary">Editar</a>
              <a href="/eliminar_equipo/{{equipo.id}}" class="btn btn-danger btn-delete" onclick="return confirmar()">Borrar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class=pagination>
        {%- for page in equipos.iter_pages() %}
            {% if page %}
                {% if page != equipos.page %}
                    <a href="{{ url_for('equipos.index', dc=dc, page=page, por_page=por_page) }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {%- endfor %}
    </div>
  </div>

  <script language="Javascript">
    function confirmar()
    {
      return confirm("Esta a punto de borrar este equipo")
    }
  </script>

  <script language="Javascript">
      function equipos_pagina(por_page)
      {
        window.location.replace("{{ url_for('equipos.index', dc=dc) }}"+"?por_page="+por_page);
      }
    </script>
  
{% endblock %}
